<article>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<header>
<h1>$title$</h1>
<time datetime="$datetime$">$date$</time>
$if(abstract)$
<p>$abstract$</p>
$endif$
<hr>
</header>
$body$
</article>
<section>
<h2>Reader Comments</h2>
<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
      this.page.url = "https://swatson555.github.io$url$";
      this.page.identifier = "$title$";
  };
  (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://swatson555.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
